<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Mongo </title>
    <%- include("template/head") %>
</head>
<body>
    <h1> Yudhistira Blog Mongo </h1>
    <hr>
        <%- include("template/menu") %>
    <hr>
    <div class="container">
       <section>
            <h1> Post</h1>
            <hr>
            <%- include("postForm") %>
       </section>
    </div>
    
</body>
</html>